asn1crypto==1.2.0
certifi==2021.10.8
cffi==1.13.0
chardet==3.0.4
click==7.1.2
concurrent-log-handler==0.9.20
conda==4.12.0
conda-package-handling==1.6.0
cryptography==2.8
decorator==5.1.1
Flask==2.0.3
Flask-Caching==1.10.1
Flask-Limiter==2.2.0
Flask-Script==2.0.6
Flask-Testing==0.8.1
idna==2.8
importlib-metadata==4.8.2
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.1.0
lightgbm==3.2.1
limits==2.4.0
MarkupSafe==2.0.1
numpy==1.18.5
pandas==1.0.5
portalocker==2.4.0
pycosat==0.6.3
pycparser==2.19
pyOpenSSL==19.0.0
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2021.3
requests==2.22.0
ruamel-yaml==0.15.46
scikit-learn==0.23.2
scipy==1.5.3
six==1.12.0
threadpoolctl==3.1.0
tqdm==4.36.1
typing-extensions==3.10.0.2
urllib3==1.24.2
validators==0.14.0
Werkzeug==2.0.3
zipp==3.7.0
